html,
body {
    height: 100%;
}

.container {
    margin-top: 1rem;
}

button:hover {
    background: white;
}

.customGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}
